body,
html {
  height: 100%;
}
nav-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: #555555;
  color: #ffffff;
}

a {
  color: #bb86fc;
  text-decoration: none;
  transition: color 0.3s;
}
header {
  padding: 20px 0;
  background: #1f1f1f;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2rem;
  color: #e0e0e0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

section {
  padding: 40px 20px;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.project {
  background-color: #242424;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.project-link:hover .project {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
footer {
  background: #1f1f1f;
  color: #a1a1a1;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333333;
}

@media (max-width: 768px) {
  header nav ul li {
    display: block;
    margin: 10px auto;
  }
}
.tag {
  border-radius: 5px;
  padding: 2px 5px;
  margin: 2px;
  font-size: 12px;
}

#searchInput {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

#searchInput:focus {
  outline: none;
  border-color: #bb86fc;
  box-shadow: 0 2px 5px rgba(156, 39, 176, 0.2);
}
h3 {
  color: #bb86fc;
}
